.name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    color: mediumvioletred;
}
.speech {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    color: navy;
}
.stage_directions {
    font-family: cursive;
    font-size: 16px;
    color: blueviolet;
}
.LORD_GORING {
    color: brown;
}
.SIR_ROBERT_CHILTERN {
    color: darkmagenta;
}